.mypa-fieldset {
    border-radius: 3px;
    border: 0;
    padding: 0;
    margin: 0;
}

.mypa-time {
    margin-left: 5px;
}

#mypa-delivery-option-form label {
    width: calc(100% - 22px);
}
.myparcel-price::before {
    content: "+€";
}
.full-width.mypa-error {
    margin-top: 10px;
}
.mypa-error label {
    display: inline-block;
    width: 50%;
}
a#mypa-error-try-again {
    display: block;
    margin-top: 10px;
}
#mypa-method-signature-selector-be {
    display: inline-block;
}

#mypa-pickup-location-selector li,
#mypa-delivery-option-form li,
#mypa-delivery-selectors-be li {
    list-style-type: none;
}

#mypa-delivery-option-form label,
#mypa-delivery-selectors-be label {
    display: inline-block;
}

#mypa-delivery-selectors-be div {
    display: inline-block;
}

#mypa-pickup-location {
    width: calc(100% - 55px);
}

#mypa-pickup-selector li{
    margin: 0;
    display: inline-block;
    height: 60px;
    width: 100%;
    padding: 5px 0px 2px 0px;
}

.mypa-help {
    color: black;
    text-decoration: none;
}

.fa-question {
    text-decoration: none;
}

.fa-clock {
    width: 30px;
    margin-bottom: -10px;
}

#mypa-shop-mock {
    margin-top: 500px;
    background-color: #ccc;
    width: 100%;
    margin-bottom: 25px;
}

.full-width {
    display: block;
}

#mypa-location-details {
    z-index: 999;
    padding: 20px;
    border: 1px solid black;
    border-radius: 3px;
    position: absolute;
    min-width: 300px;
    max-width: 400px;
    margin: 5px;
    display: none;
    background-color: white;
    box-shadow: 0px 0px 20px #3333337d;
}
.mypa-close {
    cursor: pointer;
}

.mypa-pickup-location-details-location,
.mypa-pickup-location-details-phone,
.mypa-pickup-location-details-city,
.mypa-pickup-location-details-time  {
    margin-bottom: 5px;
    display: inline-block;
    width: 100%;
}

.mypa-pickup-location-details-day {
    display: inline-block;
    width: 30%;
}

#mypa-message {
    z-index: 999;
    position: absolute;
    display: none;
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    position: absolute;
    margin: 0;
}

#mypa-spinner {
    position: absolute;
    margin: 50px 0 0 125px;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #000;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    animation: spin 0.3s linear infinite;
}

#mypa-delivery-date,
#mypa-delivery-date-bpost-saturday {
    display: inline-block;
    width: calc(100% - 22px);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

td#myparcel_td {
    width: auto;
}

/* hide shipping block in card */
div#block-shipping {
    display: none;
}