{
  "parserOptions": {
    "ecmaVersion": 3
  },
  "extends": "/Users/Edie/projects/myparcel/myparcel-core/dmp-standards/eslint/eslint.config.js",
  "globals": {
    "MyParcel": "writable",
    "MyParcelConfig": "writable"
  }
}
