<style><css-dynamic/></style>
<div id='mypa-delivery-options-container'>
    <div class="mypa-fieldset">
        <ul id="mypa-pickup-selector">
            <li>
                <label for="mypa-deliver-date">Bezorgen op</label>
                <div class="full-width">
                    <input name="mypa-deliver-or-pickup" id="mypa-deliver-pickup-deliver" value="mypa-deliver" type="radio">
                    <input name="mypa-delivery-date" id="mypa-delivery-date" type="text" readonly>
                </div>
            </li>
            <li id="mypa-bpost-saturday-delivery">
                <label for="mypa-deliver-date-bpost-saturday">Bezorgen op</label>
                <div class="full-width">
                    <input name="mypa-deliver-or-pickup" id="mypa-deliver-pickup-deliver-bpost-saturday" value="mypa-deliver-bpost-saturday" type="radio" readonly>
                    <input name="mypa-delivery-date-bpost-saturday" id="mypa-delivery-date-bpost-saturday" type="text">
                    <span id="mypa-delivery-bpost-saturday-price"></span>
                </div>
            </li>
        </ul>
        <ul id="mypa-delivery-selectors-be">
            <li>
                <div class="full-width">
                    <div><input name="mypa-method-signature-selector-be" id="mypa-method-signature-selector-be" type="checkbox"</div>
                    <label for ="mypa-method-signature-selector-be">Handtekening voor ontvangst&nbsp;<span id="mypa-price-bpost-signature"></span></label>
                </div>
            </li>
        </ul>
        <ul id="mypa-pickup-location-selector">
            <li>
                <label for="mypa-pickup-location">Afhalen op locatie<span id="mypa-price-pickup"></span></label>
                <div class="full-width">
                    <input name="mypa-deliver-or-pickup" id="mypa-deliver-pickup-pickup" value="mypa-pickup" type="radio">
                    <select name="mypa-pickup-location" id="mypa-pickup-location">
                        <option value="">Geen Locatie</option>
                    </select>
                    <span id="mypa-show-location-details"><i class="fas fa-clock"></i></span>
                </div>
            </li>
        </ul>
    </div>
</div>
