{
  "parserOptions": {
    "ecmaVersion": 3
  },
  "extends": "/Users/richardperdaan/myparcel.nl/myparcel-core/dmp-standards/eslint/eslint.config.js",
  "globals": {
    "MyParcel": "writable",
    "MyParcelConfig": "writable",
    "define": "readonly"
  },
  "rules": {
    "no-var": "off",
    "max-params": "off",
    "max-lines-per-function": "off"
  }
}
